.container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
}

.top-box {
    background-color: #e5f3f2;
    height: 300px;
    text-align: center;
}


h1{
    color: #6d6e71;
    display: inline-block;
    font-size: 275%;
    margin-bottom:  30px;
    
}

.idea {
    color: #00a79d;
}



#title-input {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: space-between;
    width: 45%;
}

#body-input {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: space-between;
    width: 45%;
}

#search-input {
    height: 30px;
    margin-top: 50px;
    width: 45%;
}


.save-btn {
    background-color: #00a79d;
    border: none;
    color: #fff;
    font-size: 120%;
    height: 30px;
    width: 45.5%;
}

.save-btn:hover {
    background-color: #045e55;
}

input {
    align-items: center;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    justify-content: space-between;
    margin: auto;
}





